<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TalhaBayrakcıProject.Properties.Settings.GALERYConnectionString"
            connectionString="Data Source=DESKTOP-GPRU0E6\SQLEXPRESS;Initial Catalog=GALERY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TalhaBayrakcıProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-GPRU0E6\SQLEXPRESS;Initial Catalog=GALERY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>